.banner {
  background-color: var(--dark-blue);
  overflow: hidden;
  position: relative;
}

.banner .banner-content {
  padding-top: 9rem;
  padding-bottom: 5rem;
  text-align: center;
}

.banner .banner-content .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner a {
  display: block;
  width: 200px;
  z-index: 2;
}

.banner h1 {
  margin-bottom: 1rem;
  color: var(--white);
  font-size: 2.5rem;
  line-height: 3rem;
  z-index: 2;

}

.banner h3 {
  margin-bottom: 2rem !important;
    z-index: 2;

}

.banner #img-right {
  position: absolute;
  top: -15%;
  right: 5%;
  height: 180%;
  z-index: 0;
  animation: apparition-right 1.5s ease-out;
}

@keyframes apparition-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.banner #img-left {
  position: absolute;
  bottom: -15%;
  left: 5%;
  height: 60%;
  z-index: 0;
  animation: apparition-left 1.5s ease-out;

}

@keyframes apparition-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0px);

  }
}


/*Smallest device*/
@media screen and (min-width: 100px) and (max-width: 575px) {
  .banner #img-right {
   display: none;
  }

  .banner #img-left {
    position: absolute;
    bottom: -20%;
    left: 5%;
    height: 40%;
    z-index: 0;
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
  .banner #img-right {
    position: absolute;
    top: -18%;
    right: 1%;
    height: 130%;
    z-index: 0;
  }

  .banner #img-left {
    position: absolute;
    bottom: -20%;
    left: 5%;
    height: 50%;
    z-index: 0;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner #img-right {
    position: absolute;
    top: -18%;
    right: 1%;
    height: 130%;
    z-index: 0;
  }

  .banner #img-left {
    position: absolute;
    bottom: -20%;
    left: 5%;
    height: 50%;
    z-index: 0;
  }

  .banner h3 {
    max-width: 600px;
  }
}

/*Large devices (desktops, 992px and up)
*/
@media screen and (min-width: 992px) {
  .banner #img-right {
    position: absolute;
    top: -18%;
    right: 1%;
    height: 130%;
    z-index: 0;
  }

  .banner #img-left {
    position: absolute;
    bottom: -20%;
    left: 5%;
    height: 50%;
    z-index: 0;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
  .banner #img-right {
    position: absolute;
    top: -15%;
    right: 5%;
    height: 180%;
    z-index: 0;
  }

  .banner #img-left {
    position: absolute;
    bottom: -20%;
    left: 5%;
    height: 60%;
    z-index: 0;
  }
}
