.banner {
  background-color: var(--dark-blue);
}

.banner .banner-content {
  padding-top: 9rem;
  padding-bottom: 3rem;
  text-align: left;
}

.banner h1 {
  margin-bottom: 1rem;
  color: var(--white);
  font-size: 2.5rem;
  line-height: 3rem;
}

.banner h3 {
  margin-bottom: 2rem !important;
}

.banner-frame {
  margin-top: -1px; /* To remove white margin in FF */
  width: 100%;
  height: 3.3rem;
}
