/*Common to all sections*/

.h2-section {
  text-align: center;
}

.p-section {
  text-align: center;
}

.p-section {
  width: 70%;
  margin: 0 auto 2rem auto !important;
  opacity: 0.8;
}

/*Offer section*/

#offer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: var(--white);
}

#offer .nav-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2.25rem;
  border-bottom: none;
}

#offer .nav-link {
  padding: 0.375rem 1rem 0.375rem 1rem;
  margin: 0 1rem;
  background-color: var(--green);
  color: var(--white);
  border-bottom: 3px solid var(--dark-blue) !important;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

#offer .nav-link:hover,
#offer .nav-link.active {
  background-color: var(--dark-blue);
  color: var(--white) !important;
  border-bottom: 3px solid var(--pink) !important;
  opacity: 1;
}

#offer .nav-link .fas {
  margin-right: 1rem;
}

#offer .text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#offer .text-container h3 {
  color: var(--dark-blue);
  font-weight: 700 !important;
  margin-bottom: 1rem;
}

.offer-frame {
  margin-top: -1px;
  width: 100%;
  height: 3.3rem;
  background-color: var(--dark-blue);
}

/*A propos*/

#a-propos {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: var(--dark-blue);
}

#a-propos .h2-section {
  color: var(--white);
}

#a-propos .p-section {
  color: var(--white);
  opacity: 0.7;
}

#a-propos h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: var(--white);
}

/*Réalisations*/

#realisations {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: var(--white);
}

#realisations h3 {
  font-weight: bold !important;
}

#realisations .row {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#realisations .img-background {
  background-image: url("../../images/video-background.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.responsive-video {
overflow: hidden;
margin-top: 2rem;
padding-bottom: 56.25%;
position: relative;
height: 0;
display: flex;
justify-content: center;
}

.responsive-video iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#realisations img {
  width: 100%;
}
