
.offer-tabs input[name=tab-control] {
  display: none;
}

.offer-tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.offer-tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  padding: 0 10px;
  text-align: center;
}
.offer-tabs ul li label {
  transition: all 0.3s ease-in-out;
  padding: 5px auto;
  overflow: hidden;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.offer-tabs ul li label h3 {
  font-weight: 700 !important;
  color: var(--dark-blue);
  margin: 15px;
  opacity: 0.6;
}

.offer-tabs ul li label i {
  margin-right: 1rem;
  color: var(--violet);
    opacity: 0.6;
}


.offer-tabs ul li label h3:hover, .offer-tabs ul li label h3:focus, .offer-tabs ul li label h3:active {
  opacity: 1;
}

.offer-tabs .slider {
  position: relative;
  width: calc(100% / 3);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.offer-tabs .slider .line {
  position: relative;
  width: 150px;
  max-width: 100%;
  margin: -1rem auto 3rem;
  height: 5px;
  background: var(--violet);
  border-radius: 5px;
}

.offer-tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}

.offer-tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label h3 {
  cursor: default;
  color: var(--dark-blue);
  opacity: 1;
}

.offer-tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label i {
  cursor: default;
  color: var(--violet);
  opacity: 1;
}

@media (max-width: 600px) {
  .offer-tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: var(--green);
  }
}

.offer-tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}

.offer-tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}

.offer-tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label h3 {
  cursor: default;
  color: var(--dark-blue);
  opacity: 1;
}

.offer-tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label i {
  cursor: default;
  color: var(--violet);
  opacity: 1;
}

@media (max-width: 600px) {
  .offer-tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: var(--green);
    opacity: 1;
  }
}

.offer-tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}

.offer-tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}

.offer-tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label h3 {
  cursor: default;
  color: var(--dark-blue);
  opacity: 1;
}

.offer-tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label i {
  cursor: default;
  color: var(--violet);
  opacity: 1;
}

@media (max-width: 600px) {
  .offer-tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: var(--green);
  }
}
.offer-tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.offer-tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


@media (max-width: 600px) {
  .offer-tabs .slider {
    display: none;
  }
}
